#change-background {
  position: relative;
  float: right;
  right: 50px;
  width: 80px;
  height: 80px;
  border-radius: 30%;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
}

#filler {
  height: 15em;
}

#box {
  width: 10em;
  height: 10em;
  display: none;
  position: absolute;
}

#links-react {
  font-family: Futura, "Trebuchet MS", AppleGothic, sans-serif;
  font-size: 20px;
}

body {
  background-image: url('images/squairy_light.png');
}

body:after{
  display:none;
  content: url('images/dirty_old_shirt.png') url('images/stardust.png') url('images/mochaGrunge.png') url('images/flickr_1.png') url('images/tumblr_2.png') url('images/github_1.png');
}

body.no-padding {
  padding: 0;
  margin: 0;
}

a:hover {
  color: red !important;
}

a {
  text-decoration:none;
  color: #888888 ;
}

h1 {
  font-family: Futura, "Trebuchet MS", AppleGothic, sans-serif;
  font-size:5em;
  text-align:center;
  margin-top: 100px;
}

.react {
  font-family: Futura, "Trebuchet MS", AppleGothic, sans-serif;
}

.info {
  width: 220px;
  border: 1px dashed #888888;
  padding-left: 2px;
  border-radius: 3%;
}

h3{
  font-family: Futura, "Trebuchet MS", AppleGothic, sans-serif;
  font-size: 40px;
  text-align: center;
}

.bottom-links {
  font-family: Futura, "Trebuchet MS", AppleGothic, sans-serif;
  font-size: 23px;
  text-align: center;
}

.the-circles a:hover {
  color: white !important;
}

.the-circles a {
  color: white;
}

.bottom-links a{
  margin: 3px;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clear-both {
  clear:both;
}

.the-circles img {
  border: 5px solid;
  border-radius: 50%;
}

div.nav1 {
  background-image: url('images/inflicted.png');
}

div.nav1:hover {
  background-image: url('images/stardust.png');
  border: 50%;
}

div.nav2{
  background-image: url('images/tex2res4.png')
}

div.nav2:hover {
  background-image: url('images/mochaGrunge.png');
  border: 50%;
}

div.nav3{
  background-image: url('images/classy_fabric.png')
}

div.nav3:hover {
  background-image: url('images/dirty_old_shirt.png');
  border: 50%;
}

div.networks1 {
  background-image: url('images/github_2.png')
}

div.networks1:hover {
  background-image: url('images/github_1.png');
  border: 50%;
}

div.networks2 {
  background-image: url('images/tumblr_1.png')
}

div.networks2:hover {
  background-image: url('images/tumblr_2.png');
  border: 50%;
}

div.networks3 {
  background-image: url('images/flickr_2.png')
}

div.networks3:hover {
  background-image: url('images/flickr_1.png')
}

.border {
  border: 1px solid red;
  border-radius: 50%;
  line-height: 180px;
  text-align: center;
  vertical-align: middle;
  border: 5px solid #fff;
  font-family: Futura, "Trebuchet MS", AppleGothic, sans-serif;
  font-size: 42px;
}

.border:hover {
  border-radius: 50%;
  border: 5px solid red;
}

.circle1  {
  float: left;
  margin-left: 46px;
}

.circle2 {
  float: left;
  margin-left: 94px;
}

.circle3 {
  float: left;
  margin-left: 74px;
}

.add-bottom-pad {
  padding-bottom: 10px;
}

.the-circles {
   height: 180px;
   padding-top: 60px;
   padding-bottom: 60px;
}

a.block-it {
    display: block;
    width: 180px;
    height: 180px;
}

img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  text-align: justify;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
}

iframe {
  margin: 0 auto;
  display: block;
}


button:focus {
  outline: 0;
}

.bold {
  font-weight: bold;
}